@page "/"
@using DxBlazorComponentsDefaultSettings.Components
@using DxBlazorComponentsDefaultSettings.Data
@inject WeatherForecastService ForecastService

<h3>Custom Text Box:</h3>

<MyTextBox Text="Test123"></MyTextBox>

<h3>Custom Grid:</h3>

<MyGrid Data="forecasts">
    <Columns>
        <DxGridDataColumn FieldName="@nameof(WeatherForecast.TemperatureC)" Caption="@("Temp. (\x2103)")" TextAlignment="GridTextAlignment.Right"></DxGridDataColumn>
        <DxGridDataColumn FieldName="@nameof(WeatherForecast.Summary)" Caption="Summary"></DxGridDataColumn>
        <DxGridDataColumn FieldName="@nameof(WeatherForecast.Date)" DisplayFormat="D"></DxGridDataColumn>
    </Columns>
</MyGrid>

<h3>Default Grid:</h3>

<DxGrid Data="forecasts">
    <Columns>
        <DxGridDataColumn FieldName="@nameof(WeatherForecast.TemperatureC)" Caption="@("Temp. (\x2103)")" TextAlignment="GridTextAlignment.Right"></DxGridDataColumn>
        <DxGridDataColumn FieldName="@nameof(WeatherForecast.Summary)" Caption="Summary"></DxGridDataColumn>
        <DxGridDataColumn FieldName="@nameof(WeatherForecast.Date)" DisplayFormat="D"></DxGridDataColumn>
    </Columns>
</DxGrid>

@code{
    WeatherForecast[] forecasts;
    protected override async Task OnInitializedAsync() {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Today);
    }
}
